HEALTHSCOPE_ENVIRONMENT=development
HEALTHSCOPE_DEBUG=false
HEALTHSCOPE_CMS_PROVIDER_DATA_BASE_URL=https://data.cms.gov/provider-data/api/1
HEALTHSCOPE_CMS_HOSPITAL_DATASET_ID=xubh-q36u
HEALTHSCOPE_CMS_REQUEST_TIMEOUT_SECONDS=10
